<!-- This form will post to /guests -->
<%= form_with model:guest, html: {class: "row", autocomplete: "off"}, data: {turbo_frame: "_top"} do |form| %>
  <div class="modal-body">
    <% if guest.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(guest.errors.count, "error") %> prohibited this guest from being saved:</h2>

        <ul>
          <% guest.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-3">
      <%= form.label :firstname, "First Name *" %>
      <%= form.text_field :firstname, class: "form-control", autocomplete: "off" %>
    </div>
    <div class="my-3">
      <%= form.label :lastname, "Last Name *" %>
      <%= form.text_field :lastname, class: "form-control", autocomplete: "off" %>
    </div>
    <div class="my-3">
      <%= form.label :reason, "Reason *" %>
      <%= form.text_field :reason, class: "form-control", autocomplete: "off", "aria-describedby": "reasonHelpBlock" %>
      <div id="reasonHelpBlock" class="form-text">
        Reason guest is banned. E.g. Damaged room
      </div>
    </div>
    <div class="my-3 row">
      <div class="col-6">
        <%= form.label :id_number, "ID / DL Number" %>
        <%= form.text_field :id_number, class: "form-control", autocomplete: "off" %>
      </div>
      <div class="col-6">
        <%= form.label :dob, "Date of Birth" %>
        <%= form.date_field :dob, class: "form-control", max: (Date.today - 10.years) %>
      </div>
    </div>
    <div class="my-3 row">
      <div class="col-6">
        <%= form.label :city %>
        <%= form.text_field :city, class: "form-control", autocomplete: "off" %>
      </div>
      <div class="col-3">
        <%= form.label :state %>
        <%= form.select(:state, us_states, { include_blank: true }, { class: "form-control" }) %>
      </div>
      <div class="col-3">
        <%= form.label :zip %>
        <%= form.text_field :zip, class: "form-control", autocomplete: "off" %>
      </div>

    </div>

  </div>
  <div class="modal-footer">
    <% if !guest.new_record? %>
      <%= link_to "Delete", guest, class: "btn btn-danger", data: { turbo_method: :delete, turbo_frame: "_top", turbo_confirm: 'Are you sure?' } %>
    <% end %>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      <%= form.submit "Save", class: "btn btn-primary", id: "btn-save", data: {"bs-dismiss": "modal"} %>
  </div>
<% end %>
