<!DOCTYPE html>
<html>
  <head>
    <title>Dnrlist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <%= render "layouts/messages" %>
      <%= render "layouts/header" %>
    </header>
    <main class="holygrail-body">
      <section class="holygrail-content">

        <%= yield %>

      </section>
    </main>
    <footer>
      <button onclick="returnToTop()" id="return-to-top" class="btn btn-primary" title="Go to top"> <i class="fa-solid fa-arrow-up"></i>
      </button>
    </footer>
  </body>
</html>
